<h1>Create Celebrity</h1>

<form action="/celebrities/create" method="POST">
  <label>
    Name
    <input type="text" name="name" />
  </label>

  <label>
    Occupation
    <input type="text" name="occupation" />
  </label>

  <label>
    Catch Phrase
    <input type="number" name="catch-phrase" />
  </label>

  <button type="submit">Create celebrity</button>
</form>